/***Eacademy index***/
.Eacademy .star_rating22 ul{
	margin:0;
	padding:0;
}
.Eacademy .star_rating22 .spanStar{
	cursor:pointer;
	list-style-type: none;
	display: inline-block;
	color: #F0F0F0;
	text-shadow: 0 0 1px #666666;
	font-size:20px;
}
.Eacademy .star_rating22 .selected {
	color:#F4B30A;
	text-shadow: 0 0 1px #F48F0A;
}
.Eacademy .rating_cnt{
	color: #000; 
	font-size:15px;
}
.Eacademy .rating_active{    
	color: #ff8a43 !important;
}

/***course-details***/
.course-details hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
   /* margin-left: 15px;
    margin-right: 15px;*/
    border-style: inset;
    border-width: 1px;
    border-color: #f9f9f9;
}
 
.course-details .star_rating22 ul{
	margin:0;
	padding:0;
}
.course-details .star_rating22 .spanStar{
	cursor:pointer;
	list-style-type: none;
	display: inline-block;
	color: #F0F0F0;
	text-shadow: 0 0 1px #666666;
	font-size:20px;
}
.course-details .star_rating22 .selected {
	color:#F4B30A;
	text-shadow: 0 0 1px #F48F0A;
}
.course-details .rating_cnt{
	color: #000; 
	font-size:15px;
}
.course-details .rating_active{    
	color: #ff8a43 !important;
}

/*****trainer details******/

.trainer_details hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /*margin-left: 8.5%;
    margin-right: 8.5%;*/
    border-style: inset;
    border-width: 1px;
    border-color: #f9f9f9;
}
.trainer_details .work_experience .lern h3 a{
	    font-family: 'Ciutadella';
    color: #ff8a43;
    font-size: 22px;
    line-height: 28px;
}

/******** course list *********/

/****** Style Star Rating Widget *****/
.course-list .rating > label:before { 
  margin: 2px;
  margin-top:3px;
}
.course-list .star_rating ul{
	margin:0;
	padding:0;
}
.course-list .star_rating .spanStar{
	cursor:pointer;
	list-style-type: none;
	display: inline-block;
	color: #F0F0F0;
	text-shadow: 0 0 1px #666666;
	font-size:20px;
}
.course-list .star_rating .selected {
	color:#F4B30A;
	text-shadow: 0 0 1px #F48F0A;
}
.course-list .rating_cnt{
	color: #000; 
	font-size:15px;
}
.course-list .rating_active{
    color: #ff8a43 !important;
}
.course-list .abt_course .btn{
	float: left;
	padding: 0px 74px 6px 0px;
}
.course-list .allcourse>div {
    padding: 0 5px;
	margin-bottom: 0px; 
}