/*HOMEPAGE*/

/*.company{
background: url(../images/1.jpg) center center / cover no-repeat;
min-height:301px;
}
.partners{
background: url(../images/1.jpg) center center / cover no-repeat;
min-height:301px;
}*/
.form-control-ser{
    padding-right: 35px;
}
.ico-tiles div >div .eacademy:before {
    content: '';
    background-size: 56px 40px;
    display: block;    
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url("marketplace/eacadmy.png") no-repeat 0 0;
}
.link1{
    /*padding: 0 30px;*/
}
.link1 ul{
    list-style-type: none;
}
.link1 ul li a{
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #7f7f7f;
    line-height: 25px;
    font-family: 'HelveticaNeueLTStd-Lt';
}
.social_icon a{
    float: right;
    border:1px solid #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.social_icon a i{
font-size: 14px;
padding: 0 5px;
color: #fff;
}
.social_icon a.facebook{
    padding: 0 3px;
}
.social_icon a.facebook:hover{
    background-color: #3d5998;
    border-color:#3d5998;
}
.social_icon a.twitter:hover{
    background-color: #51b2f7;
    border-color: #51b2f7;
}
.social_icon a.linkedin:hover{
    background-color: #0177b5;
    border-color: #0177b5;
}
.social_icon a.youtube:hover{
    background-color: #fe4242;
    border-color: #fe4242;
}
/*EACADEMY MODULE*/

/*INDEX.PHP*/
.star_rating{
    float: left;
    width: 100%;
}
.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 2px;
  font-size: 12px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  margin-top:0;
}
.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
.rating > label { 
  color: #ddd; 
 float: right; 
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ff8a43;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #ff8a43;  } 
.review_sec .form-control{    outline: none;
    border: none;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    resize: none;}
.review_sec  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
.review_sec{padding:0;}
.review_sec hr{margin:0;}
.pad-15{padding:15px;}
.rating_cnt{
    padding: 0px 10px !important;
}
/*course detail*/
.catgry_name h2{
    font-family: 'Ciutadella';
    font-size: 25px;
}
.abt_course{
    padding: 13px;
    float: left;
    width: 100%;
}
.abt_course h4{
    font-family: 'Ciutadella';
    min-height: 35px;
}
.course_trainer{
    margin-bottom: 30px;
}
.abt_course .btn{
    float: left;
    padding: 10px 17px 6px 0px;
}
.courses-section{
    border: none;
    margin-right:7px; /* Set to 0 if you don't want shadow at the right side */
    margin-left:0px; /* Set to 20px if you want shadow at the left side */
    margin-top:0px; /* Set to 20px if you want shadow at the top side */
    margin-bottom:10px; /* Set to 20px if you want shadow at the bottom side */
    box-shadow: 0px 0px 10px black; 
    min-height: 290px;
}
.anti_shadow{
    overflow:hidden;
}

/* COURSE_DETAILS.PHP*/
.used-machines-nav{
        border: none;
    }
    ul.tab_h li a{
        font-size: 18px;
    }
    ul.tab_h li{  padding: 0px 43px;}
      .used-machines-nav ul li:last-child {
    float: right;
    padding-right: 0px;
}
      /*readmore*/
a.morelink {
    text-decoration:none;
    outline: none;
    color: #ff8a43;
}
.morecontent span {
    display: none;
}
.rcomment {
    width: 100%;
}/*.//readmore*/
.border_tab_h{
    border-bottom: 1px solid #f9f9f9;
}
.pading_left_0{
    padding-left: 0px;
}
.pading_right_0{
    padding-right: 0px;
}
.pading_right_8{
    padding-right: 8px;
}
   
.detail_heading h1{
    color: #000;
}
/*modified css*/
.myprofile-bg{
    background: #f9f9f9;
    color: #000;
}
.bck_color{
    background-color: #f9f9f9;
}
.review-block-rate .btn{
    float: right;
    margin-right: 2px;
}
.no_padng{
    padding-left: 0px;
    padding-right: 0px;
}
/* END COURSE_DETAILS.PHP*/
 ul.tab_h1 li{  padding: 0px 46px;}
 ul.tab_h2 li{  padding: 0px 41px;}
/*END OF EACADEMY MODULE*/
/*  MODIFIED CSS*/
.dahboard-bg ul {
    background: #f9f9f9;
    color: #000;
    padding: 0px;
}
.myprofile{
    color: #000;
}

/*sidebar css*/
/*modified css*/
.sidebar-navigation a {
    line-height: 16px;
}
.sidebar-navigation > ul > li a:hover, .sidebar-navigation > ul > li:hover a {
    background: #f4f4f4;
    color: #396293;
}
.enrollment {
    margin-bottom: 10px;
    margin-top: 10px;
}
.red{
    color: red;
}
label.error{
    color: red;
}
.enrollment .form-group{
margin: 0 0 0px;
}
.enrollment label{
    margin-bottom: 0px;
}
.submit-btn, .submit-btn:hover{
    float: initial;
    background: #76b6ec;
    color: #fff;
}
.submit-btn{
    background: #76b6ec;
    color: #fff;
}
.btn_orange{
    border-radius: 0px;
    background-color: #ff8a43 !important;
    color: #FFF !important;
    padding: 5px 15px;
    border: 1px solid #fff !important;
}
.btn_orange:hover, .btn_orange:focus{
    background-color: #fff !important;
    color: #ff8a43 !important;
    border: 1px solid #ff8a43 !important;
}
.btn_blue{
    border-radius: 0px;
    background-color: #76b6ec !important;
    color: #FFF;
    padding: 5px 15px;
    border: 1px solid #fff !important;
}
.btn_blue:hover, .btn_blue:focus{
    background-color: #fff !important;
    color: #76b6ec !important;
    border: 1px solid #76b6ec !important;
}
/*event module*/
h2{
    font-family: 'Ciutadella';
    color: #005e82;
}
.margin-0{
    margin: 0;
}
.border_bot .form-group{
    margin-bottom: 10px;
}
.border_bot .form_bor_bot{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
}
.border_bot .form_bor_bot:focus{
     outline:none;
    border-bottom: 1px solid #ff8a43;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form_bor_bot::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form_bor_bot:-ms-input-placeholder {
  color: #ccc;
}
.form_bor_bot::-webkit-input-placeholder {
  color: #ccc;
}
.compulsary{
    color: red;
    position: relative;
    float: left;
    top: -25px;
}
/*header css modified*/
.menu-right-icon {
    float: right;
    width: auto;
    position: absolute;
    right: 0;
    display: inline-flex;
	display: -webkit-inline-box;
    top: 33px;
}
.menu-center .nav>li>a{
    padding: 10px 10px !important;
    font-size: 16px;
}
@media (max-width:1024px){
  .ipad-menu{
	float: left;
	width: 100%;
  }
  .navbar-form {    
	float: left;
	width: 250px!important;
  }
  .navbar-form input{
	width: 90%!important;
  }
  .menu-right-icon {
	top: 15px;
    position: absolute;
	}
}
@media (max-width:768px){
  .menu-right-icon {
	top: 5px;
    position: absolute;
	}
}
.form-control-ser{width: 100%!important;}
.btn-group-ico{margin-left:20px;}

@media (max-width:767px){
  .menu-right-icon {
	top: 40px;
    position: absolute;
	padding: 10px;
	background: #fff;
	}
	.btn-group {
    margin: 0;
}
.menu-ico-mar{width: 50%!important;}
.form-control-ser{width: 100%!important;}
.form-group{position:relative}
.ser-icon{position:absolute;top:5px;right:10px;}
ul.nav.navbar-nav.navbar-nav-ex {
    width: 90%;
    padding-top: 40px;
}
}

.gray_bg{
    background-color: #f9f9f9;
}
ul.machine_det{
    margin-left: 20px;
    padding: 10px;
}
ul.machine_det li{
    list-style-type: disc;
    float: left;
    padding: 0 10px;
    clear: both;
}
.machine a{
    color: #ff8a43 ;
}
table.compare_machine>tbody>tr>td{
    border: none !important;
}
.finance_type{
    color: #fff;
    text-align: center;
    padding: 40px;
    /*background: url('../images/financetype.jpg') center no-repeat 0 0;*/
    background: url('../images/financetype.jpg') no-repeat ;
    background-size: 100% 100%;
}
.finance_type h3{
    color: #000;
    font-weight: bold;
}
ul.machine_cat li a{
    font-size: 18px;
    font-family: 'AvenirNextLTPro-Regular';
    display: inline-block;
    border-right: 1px solid;
    padding-right: 25px;
}
.used-machines-nav ul.machine_cat li:last-child a{
border-right: none !important;
padding-right: 0px !important;
}
ul.machine_cat li{
    padding: 0px 24px;
}
.finance_type .fn{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    -webkit-transform: scale(0);
    transform: scale(1);
    /* background-color: rgba(0,0,0,0.75); */
    background-color: rgba(255, 255, 255, 0.7);
}

.fileattach:before{
content: "";
   background: url('../images/attachment.png') no-repeat ;
   position: absolute;
    z-index: 1;
    opacity: 1;
    display: block;
    overflow: hidden;
    position: relative;
    width: 14px;
    height: 21px;
    float: left;
    margin: -5px 5px -5px 0;
    }
    input[type="file" i].fileattach {
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    -webkit-appearance: none;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: none;
}
/**** Footer 19Apr18****/
.t-footer-bars{
    padding: 60px 0 23px;
    background-color: #445268!important;
    color: #fff;
	float: left;
    width: 100%;
}
.footer-col{
	float: left;
	width:20%;
	margin: 0 0 20px 0;
}
.footer-col h4 {
    color: #fff;
    font-size: 18px;
    line-height: 14px;
    padding: 10px 0;
    margin-bottom: 5px;
	font-weight: 400;
}
.t-footer-bars span{    
    vertical-align: middle;
    padding-top: 5px;
    padding-right: 10px;
	letter-spacing: 1px;
}
.t-footer-bars a img{    
	height: 30px;
    width: auto;
	margin-right: 10px;
}
.t-footer-bars a:hover img {
  opacity: 0.7;
}
.footer-col a {
    padding: 5px 0;
    line-height: 12px;
    margin: 0;
	color: #fff;
    font-size: 12px;
	letter-spacing: 1px;
}
.footer-col a:hover { text-decoration: underline;}
.t-footer-bars hr{border-top:1px solid #313D52; margin:0}
.app a{
    display: inline-block;
    vertical-align: middle;
	width: 130px;
    height: 30px;
    margin-right: 7px;
}
.t-footer-bars .soc-media i.fa, .t-footer-bars .soc-media_footer i.fa {
    font-size: 19px;
    margin: 0 5px;
    cursor: pointer;
   /* color: #fff!important;*/
}
.t-footer-bars .soc-media i.fa:hover, .t-footer-bars .soc-media_footer i.fa:hover {color:#CCC!important;}
.t-footer-bars p {
    margin: 0 auto 6px!important;
	padding: 0 16px;
	margin-bottom: 17px!important;
	vertical-align: baseline;
	color:#fff;
	text-align:center;
	letter-spacing: 1px;
}
.t-footer-bars p a{color:#fff; font-size:12px;}

.t-footer-bars .footer-search-text {
    width: 300px;
    margin-top: -3px;
    font-size: 16px;
	background: #313D51;
    border: 1px solid #C4C6CF;
    color: #fff;
	height: 40px;
    padding: 10px;
	letter-spacing: 1px;
}
.t-footer-bars .footer-search-text:focus {
    border: 1px solid #fff;
}
.t-footer-bars input[type=submit]{
	border-radius: 3px;
	margin-left: 4px;
    background: 0 0;
    font-size: 16px;
    color: #fff;
	-webkit-appearance: button;
    cursor: pointer;
	border: 1px solid #C6CAD1;
	height: 40px;
    padding: 0 20px;
    line-height: 40px;
    vertical-align: baseline;
    font-style: normal;
    font-family: inherit;
	overflow: visible;
	letter-spacing: 1px;
}
.t-footer-bars :focus {
    outline: 0;
}
@media screen and (max-width:480px){
  .footer-col{float: left; width:100%; margin: 0px 7% 10px;}
  .mob-center{text-align:center;margin-bottom:10px;}
  .tips{margin-top:10px}
}
@media screen and (max-width:1023px){
  .mob-center-form .footer-search-text{width: 60%;}
  .mob-center-form input[type=submit]{width: 25%; padding: 0;}
  }
  .radio label, .checkbox label{
    color: #333;
  }