/*CONSULTANTS/PROGRAMMERS*/
.cadcam li a.thumbnail img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.amit-border {
    padding: 0;
    padding-bottom: 20px;
}
.amit-border img {
    border: 3px solid #fff;
}
.amit_img_bag {
    background-color: #22313F;
    opacity: 0.7;
    padding: 20px 0;
}
.amit-text{
    color: #333;
    padding: 15px;
}

.amit-border .prgrmr_det p{
padding: 5px 0;
border-top: 1px solid #eee;
clear: both;
}
.amit-border .prgrmr_det p .left_label{
    font-weight: 600;
    float: left;
}
/*HOMEPAGE*/
@media screen and (max-width: 480px){
.navbar-collapse.in {
    overflow-y: auto;
    height: 190px;
}
}
.margin_0{
    margin: 0;
}
.padd-0 {
    padding: 0;
}
.form-control-ser{
    padding-right: 35px;
}
.ico-tiles div >div .eacademy:before {
    content: '';
    background-size: 56px 40px;
    display: block;    
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url("marketplace/eacadmy.png") no-repeat 0 0;
}
.link1{
    /*padding: 0 30px;*/
}
.link1 ul{
    list-style-type: none;
}
.link1 ul li a{
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #7f7f7f;
    line-height: 25px;
    font-family: 'HelveticaNeueLTStd-Lt';
}
.social_icon a{
    float: right;
    border:1px solid #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.social_icon a i{
font-size: 13px;
padding: 0 5px;
color: #fff;
}
.social_icon a.facebook{
    padding: 0 3px;
}
.social_icon a.facebook:hover{
    background-color: #3d5998;
    border-color:#3d5998;
}
.social_icon a.twitter:hover{
    background-color: #51b2f7;
    border-color: #51b2f7;
}
.social_icon a.linkedin:hover{
    background-color: #0177b5;
    border-color: #0177b5;
}
.social_icon a.youtube:hover{
    background-color: #fe4242;
    border-color: #fe4242;
}
/*EACADEMY MODULE*/

/*INDEX.PHP*/
.star_rating{
    float: left;
    width: 100%;
}
.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 2px;
  font-size: 12px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  margin-top:0;
}
.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
.rating > label { 
  color: #ddd; 
 float: right; 
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #a5c049;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #a5c049;  } 
.review_sec .form-control{    outline: none;
    border: none;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    resize: none;}
.review_sec  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
.review_sec{padding:0;}
.review_sec hr{margin:0;}
.pad-15{padding:15px;}
.rating_cnt{
    /*padding: 0px 10px !important;*/
    padding: 0px ;
}
/*course detail*/
.catgry_name h2{
    font-family: 'Ciutadella';
    font-size: 25px;
}
.abt_course{
    padding: 13px;
    float: left;
    width: 100%;
}
.abt_course h4{
    font-family: 'Ciutadella';
    min-height: 35px;
}
.course_trainer{
    margin-bottom: 30px;
}
.abt_course .btn{
    float: left;
    padding: 10px 17px 6px 0px;
}
.courses-section{
    border: none;
    margin-right:7px; /* Set to 0 if you don't want shadow at the right side */
    margin-left:0px; /* Set to 20px if you want shadow at the left side */
    margin-top:0px; /* Set to 20px if you want shadow at the top side */
    margin-bottom:10px; /* Set to 20px if you want shadow at the bottom side */
    box-shadow: 0px 0px 10px black; 
    min-height: 290px;
}
.anti_shadow{
    overflow:hidden;
}

/* COURSE_DETAILS.PHP*/
.used-machines-nav{
    border: none;
    }
ul.tab_h li a{
    font-size: 15px;
}
ul.tab_h li{     padding: 0px 2%;}
.used-machines-nav ul li:last-child {
    float: right;
    padding-right: 0px;
	display: none;
}
.used-machines-nav ul {
    text-align: center;
}
      /*readmore*/
a.morelink {
    text-decoration:none;
    outline: none;
    color: #a5c049;
}
.morecontent span {
    display: none;
}
.rcomment {
    width: 100%;
}/*.//readmore*/
.border_tab_h{
    border-bottom: 1px solid #f9f9f9;
}
.pading_left_0{
    padding-left: 0px !important;
}
.pading_right_0{
    padding-right: 0px;
}
.pading_right_8{
    padding-right: 8px;
}
   
.detail_heading h1{
    color: #000;
}
/*modified css*/
.myprofile-bg{
    background: #f9f9f9;
    color: #000;
	padding: 15px 0;
	float: left;
    width: 100%;
}
.bck_color{
    background-color: #f9f9f9;
}
.review-block-rate .btn{
    float: right;
    margin-right: 2px;
}
.no_padng{
    padding-left: 0px;
    padding-right: 0px;
}
/* END COURSE_DETAILS.PHP*/
 ul.tab_h1 li, ul.tab_h2 li{padding: 0px 2%;}
/*END OF EACADEMY MODULE*/
/*  MODIFIED CSS*/
.dahboard-bg ul {
    background: #f9f9f9;
    color: #000;
    padding: 0px;
}
.myprofile{
    color: #000;
}

/*sidebar css*/
/*modified css*/
.sidebar-navigation a {
    line-height: 16px;
}
.sidebar-navigation > ul > li a:hover, .sidebar-navigation > ul > li:hover a {
    background: #f4f4f4;
    color: #396293;
}
.enrollment {
    margin-bottom: 10px;
    margin-top: 10px;
}
.red{
    color: red;
}
label.error{
    color: red;
    font-weight: normal;
    font-style: italic;
}
.enrollment .form-group{
margin: 0 0 0px;
}
.enrollment label{
    margin-bottom: 0px;
}
.submit-btn, .submit-btn:hover{
    float: initial;
    background: #76b6ec;
    color: #fff;
}
.submit-btn{
    background: #76b6ec;
    color: #fff;
}
.btn_orange{
    border-radius: 0px;
    background-color: #a5c049 !important;
    color: #FFF !important;
    padding: 5px 15px;
    border: 1px solid #fff !important;
}
.btn_orange:hover{
    background-color: #fff !important;
    color: #a5c049 !important;
    border: 1px solid #a5c049 !important;
}
.btn_blue{
    border-radius: 0px;
    background-color: #76b6ec !important;
    color: #FFF;
    padding: 5px 15px;
    border: 1px solid #fff !important;
}
.btn_blue:hover, .btn_blue:focus{
    background-color: #fff !important;
    color: #76b6ec !important;
    border: 1px solid #76b6ec !important;
}
/*event module*/
h2{
    font-family: 'Ciutadella';
    color: #005e82;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-0{
    margin: 0;
}
.border_bot .form-group{
    margin-bottom: 10px;
}
.border_bot .form_bor_bot{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
}
.border_bot .form_bor_bot:focus{
     outline:none;
    border-bottom: 1px solid #a5c049;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form_bor_bot::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form_bor_bot:-ms-input-placeholder {
  color: #ccc;
}
.form_bor_bot::-webkit-input-placeholder {
  color: #ccc;
}
.compulsary{
    color: red;
    position: relative;
    float: left;
    top: -25px;
}
/*header css modified*/
.gray_bg{
    background-color: #e7e7e7;
}
.machine_info{
    padding: 20px 0;
}
ul.machine_det{
    margin-left: 20px;
    padding: 10px;
}
ul.machine_det li{
    list-style-type: disc;
    float: left;
    padding: 0 10px;
    clear: both;
}
.machine a{
    color: #a5c049 ;
}
table.compare_machine>tbody>tr>td{
    border: none !important;
}
.finance_types{
    background: url('../images/financetype.jpg') no-repeat ;
    background-size: 100% 100%;
}
.finance_type{
    color: #fff;
    text-align: center;
    padding: 40px;
    /*background: url('../images/financetype.jpg') center no-repeat 0 0;*/
    /*background: url('../images/financetype.jpg') no-repeat ;
    background-size: 100% 100%;*/
    min-height: 200px;
}
.finance_type h3{
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 25px 75px;
}
ul.machine_cat li a{
    font-size: 18px;
    font-family: 'AvenirNextLTPro-Regular';
    display: inline-block;
}
.used-machines-nav ul.machine_cat li:last-child a{
border-right: none !important;
padding-right: 0px !important;
}
ul.machine_cat li{
    padding: 0px 2.3%;
}
.finance_type .fn{
    /*width: 80%;
    height: 80%;*/
    position: absolute;
   /* top: 20%;
    left: 10%;
    right: 10%;
    bottom: 20%;*/
    -webkit-transform: scale(0);
    transform: scale(1);
    /* background-color: rgba(0,0,0,0.75); */
    background-color: rgba(255, 255, 255, 0.7);
}
.finance_type .fn1{top: 20%;left: 15%;right: 7%;bottom: 10%;}
.finance_type .fn2{top: 20%;left: 7%;right: 15%;bottom: 10%;}
.finance_type .fn3{top: 10%;left: 15%;right: 7%;bottom: 20%;}
.finance_type .fn4{top: 10%;left: 7%;right: 15%;bottom: 20%;}
.checkbox label, .radio label{
    color: #333;
}
.fix_nav{
    position: fixed;background-color: #fff;z-index: 1;border-bottom: 1px solid #333;float: left;width: 100%;top: 90px;
}
.orng_clr{
    color: #a5c049;
}

/*RESPONSIVE CSS 24-APRIL-2018*/
@media screen and (max-width: 1024px){
ul.machine_cat li {
    padding: 0px 10px;
}
ul.machine_cat li a{
    font-size: 17px;
    padding-right: 10px;
}
}
@media (min-width:401px) and (max-width:1023px) {
.used-machines-nav ul.machine_cat{
    margin-top: 0px;
}
ul.machine_cat li a{
    font-size: 11px;
}
}
@media screen and (max-width: 400px){
	.used-machines-nav ul.machine_cat{
		margin-top: 0px;
	}
	.used-machines-nav ul.machine_cat li:last-child {
		float: inherit !important;
	}
}

#recentlyViewed img {
   /* min-height: 100px;*/
}
.page-header{
    border-bottom: none;
}
h1{
   font-family: 'Ciutadella' !important;
}
.recent-view{
    min-height: 235px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*11may2018*/
.nav-tabs.profile-tabs>li.active>a, .nav-tabs.profile-tabs>li.active>a:focus, .nav-tabs.profile-tabs>li.active>a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.bg_white{
    background-color: #fff;
    padding-top: 30px;
}
.margin_0{
    margin: 0 ;
}
.star{
    color: red;
}

/*17-05-2018*/
ul.report_category{
    border-bottom: none;
    list-style-type: none;
}
ul.report_category li{
    float: left;
    width: 100%;
    background-color: #445268;
    padding: 10px 15px;
}
ul.report_category li:hover{
    background-color: #1e282c !important;
    color: #fff !important;
}

ul.report_category li:first-child.active>a, ul.report_category>li:first-child.active>a:focus, ul.report_category>li:first-child.active>a:hover, ul.report_category li:first-child a:hover, ul.report_category li:first-child a:focus, ul.report_category>li:first-child.active>a:hover {
   display: none;
    padding: 0;
}


ul.report_category li a, ul.report_category li a:hover, ul.report_category li a:focus{
    color: #fff;
    border: none;
    width: 100%
}
ul.report_category li.active>a, ul.report_category>li.active>a:focus, ul.report_category>li.active>a:hover, ul.report_category li a:hover, ul.report_category li a:focus, ul.report_category>li.active>a:hover {
    background-color: #1e282c !important;
    color: #fff !important;
}

.report_cat_details{
    border: none;
    padding: 0;
}
ul.all_report{
    list-style-type: none;
}
ul.all_report li{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.padd_5{
    padding: 5px 10px;
}
.report_detail_table>caption+thead>tr:first-child>td, .report_detail_table>caption+thead>tr:first-child>th, .report_detail_table>colgroup+thead>tr:first-child>td, .report_detail_table>colgroup+thead>tr:first-child>th, .report_detail_table>thead:first-child>tr:first-child>td, .report_detail_table>thead:first-child>tr:first-child>th{
border: none;
}
ul.desc_tab{
    border-bottom: none;
}
th.r_b{
    border-right: 1px solid #fff !important;
}
ul.desc_tab li a{
    color: #000;
    padding: 5px;
    background-color: #ccc;
    font-size: 13px;
    border-radius: 0;
}
.report_desc{
    border: 1px solid #ccc;
}
.report_desc .tab-content{
    border: none;
}

/****tokbox***/
.App-control-container {
	position: absolute;
	height: auto;
	width: 100%;
	left: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
		
/* Research Anlaytics Consulting */

.caseStudies img{
	height: auto;
    width: 100%;
 }
.our_team .team_block{
	float: left;
    width: 100%;
    margin-bottom: 10px;
}
.team_block img{margin-right:15px;	}
.team-details h5{
	padding-left: 10px;
	margin:0;
	line-height: 25px;
}
.team-details p{
	padding-left: 10px;
	margin:0;
	line-height: 15px;
}
.btn_green{
	border-radius: 0px;
    background-color: #00b22d !important;
    color: #FFF !important;
    padding: 5px 15px;
    border: 1px solid #fff !important;
}
.btn_green:hover {
    background-color: #fff !important;
    color: #00b22d !important;
    border: 1px solid #00b22d !important;
}
ul.consulting{    
	list-style: none;
    padding: 0;
}	
.consulting li{    
	padding: 0;
    padding-right: 15px;
}
.video-scroll{
	overflow-x:scroll;
	height:300px;
}
.btn.search-go{
    background-color: #a5c049;
    color: #fff;
     border: 1px solid #a5c049;
}
.btn.search-go:hover{
    background-color: #fff;
    color: #a5c049;
    border: 1px solid #a5c049;
}
a:focus{
    outline: none;
}

.r-programming.recent-view {
    min-height: 200px;
}
.nbs-flexisel-container {
    /*margin-top: 4%;*/
}
/*REPORT DETAIL*/
.our_clients{
    border-bottom: 1px solid #ccc;padding-bottom: 20px;
}
.round_btn{
    border: 3px solid #ccc;padding: 10px; text-align: center;border-radius: 50px;
}
.round_btn a{
    color: #445268;
}
.round_btn span i{
    font-size: 20px;
    color: #445268;
}
.share_on .btn{
    border-radius: 0;
    padding: 1px 3px;
    font-size: 10px;
}
.share_on .btn_fb{
    color: #fff;
    background-color: #3b5998;
}
.share_on .btn_tw{
    color: #fff;
    background-color: #1da1f2;
}
.share_on .btn_gp{
    color: #fff;
    background-color: #cb453c;
}
.share_on .btn_print{
    color: #fff;
    background-color: #cb2027;
}

/*HELPCENTER CSS 21MAY2018*/
.helpcenter_search{
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    display: inline-block;
    padding: 0 50px 50px 50px;
    background-color: #00000050;
}
.helpcenter_search h1{
    color: #fff;
}
.helpcenter_menu .panel-default{
margin-top: 0 !important;
}
.helpcenter_menu .panel-title > a{
padding: 10px;
}
ul.helpcenter_submenu{
    list-style-type: none;
    margin-bottom: 0;
}
ul.helpcenter_submenu li{
    width: 100%;
}
ul.helpcenter_submenu li a, ul.helpcenter_submenu li a:hover{
    padding: 10px 25px;
    font-size: 13px;
    color: #fff;
    width: 100%;
    border:none;
}
ul.helpcenter_submenu li.active>a,ul.helpcenter_submenu li:hover, ul.helpcenter_submenu li.active>a:focus, ul.helpcenter_submenu li.active>a:hover{
    background-color: #1e282c !important;
    color: #fff !important;
    border:none !important;
}
.helpcenter_menu .panel-heading, .helpcenter_menu .panel-heading a{
    background-color: #445268 !important;
    color: #fff;
}
.helpcenter_menu .panel-heading a:hover{
    background-color: #1e282c !important;
    color: #fff;
}
.helpcenter_menu .panel-body{
    padding: 0;
    background-color: #2c3b41;
    color: #fff;
}
.tab-content.helpcenter_info{
    padding:0 20px;
    border:none;
}
.side_option ul{
    list-style-type: none;
    margin-bottom:0;
}
.side_option ul li{
    line-height: 25px;
    font-size: 13px;
    padding: 10px;
}
/*END HELPCENTER CSS */
/*START ALLCATEGORIES CSS */
ul.all_cat{
list-style-type: none;
  }
  .fix_wrap{
    position: fixed;z-index: 1;float: left;width:88%;top: 180px;
  }
  .fix_wrap1{
    position: fixed;z-index: 1;float: left;width:88%;top: 95px;
  }
  ul.all_cat li{
    border:1px solid #e7e7e7;
    background-color: #e7e7e7;
    border-right: 1px solid #fff;
    display: inline-block;
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    line-height: 28px;
    font-family: 'Ciutadella';
  }
  ul.all_cat li a{
    color: #333;
  }
  .prod_cat ul{
    list-style-type: none;
    font-size: 13px;
  }
  .prod_cat ul li{
    width: 50%;
    display: inline-block;
    float: left;
  }
  /*END ALLCATEGORIES CSS */
/*FOOTER RFQ CSS */
.rfq_works1 .panel-title a{
    padding: 10px;
    font-style: italic;
}
.rfq_works1 .panel-body{
    font-size: 13px;
}
  /*END FOOTER RFQ CSS */
/*30 May 2018*/
.dad {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
}
.dad > .son-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-transition: all 3s ;
    -webkit-transition: all 3s ;
    transition: all 3s ;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    background-image: url("<?php echo $theme_url?>/images/ser1.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}
.dad:hover > .son-1 {
    -moz-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    transform: scale(2,2);    
}
.son-text {
    color: #fff;
    text-align: left;
    width: 100%;
    height: 300px;
    -moz-transition: all 3s ;
    -webkit-transition: all 3s ;
    transition: all 3s ;
    padding: 30px 20px;
    background-color: #22313F;
    opacity: 0.7;
}
.son-text h3, .son-text p{
    color: #fff;
    min-height: 56px;
}
.son-text:hover {
    background-color: #22313F;
    opacity: 0.7;
}
.son-span {
    background: #fcfcfc;
    color: #22313F;
    padding: 15px 45px;
}
.rfq-bg {
    background: #f9f9f9;
    padding:15px;
}
.row-flex
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.collaboration-sec1 {
    position: relative;
    overflow: hidden;
}
.sec-collaboration1:hover {
    background: #0000006e;
}
.collaboration-sec1 img {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: scale(1.0);
}
.collaboration-sec1:hover img {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: scale(1.1);
    overflow: hidden;
}
.sec-collaboration1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    top: 0;
	background: #0000006e;
}
.collaboration-sec1 h2 {
    top: 0;
    position: absolute;
    float: left;
    width: 100%;
    color: #fff;
    transform: scale(1.0);
    transition: all .5s;
	text-transform:uppercase;
}
.collaboration-sec1 h2 ul{
	margin-top:30px;
	font-size:16px; 
	padding-left:3%;    
	text-transform: initial;
}
.collaboration-sec1 h2 ul li{margin-bottom:10px}
.collaboration-sec1:hover h2 {
    transition: all .5s;
    background: #00000000;
}
.collaboration-sec1 .h2-tag {
    line-height: normal;
    font-weight: normal;
    margin: 0;
    padding: 18px 16.5% 0;
}

/******* Section*******/	
.paralax-section1 {
    background: url(../images/blur-bg4.jpg);
}
.other-section-10 .tab-widget {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: table;
}
.other-section-10 .tab-pd li {
    padding: 15px;
}

.other-section-10 .tab-widget li {
    vertical-align: middle;
    display: table-cell;
    table-layout: fixed;
    text-align: center;
}
.other-section-10 .tab-widget li>a {
    width: 120px;
    height: 120px;
    color: #fff;
    font-size: 60px;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.34);
}

.other-section-10.elearning  .tab-widget li>a {
    width: 120px;
    height: 120px;
    color: #fff;
    font-size: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.34);
	margin: 0 auto;
}

.flex-cc {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
}
.other-section-10 .tab-widget li>a:hover {
    background-color: #fff;
    color: #445268;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
}
.mr-t-10 {
    margin-top: 10px;
}

.bold-2 {
    font-weight: 400;
}
.fs16 {
    font-size: 16px;
}

.tab-widget h3,
.white-text{color:#fff}
analatics
.analatics{background-image: url("<?php echo $theme_url?>/images/analatics-white.png");}
.dark hr, hr.light {
    border-color: rgba(255,255,255,0.15);
}
.feature{    
	display: inline-flex;
    list-style: none;
    margin-top: 5px;
}
	
.feature li:nth-child(odd){color: #000!important;}
.feature li {
    margin: 0 8px;
    color: #000;
    font-size: 16px;
}  
.fa-arrow-right, .fa-plus{color:#000}
@media screen and (max-width:1023px){
	.other-section-10 .tab-widget li>a {
		width: 90px;
		height: 90px;
		color: #fff;
		font-size: 30px;
		border-radius: 80px;
		background-color: rgba(255, 255, 255, 0.34);
		margin: 0 auto;
	}
	.other-section-10.elearning .tab-widget li>a .fs16 {
		font-size: 12px;
	}
	.other-section-10.elearning .tab-widget li>a{
		width: 85px;
		height: 85px;
		color: #fff;
		font-size: 30px;
		border-radius: 80px;
		background-color: rgba(255, 255, 255, 0.34);
		margin: 0 auto;
	}
	.other-section-10 .tab-pd li {
		padding: 5px;
	}
	.elearning .fs16 {
		font-size: 12px;
	}
	.fs16 {
		font-size: 15px;
	}
	.feature li {
		margin: 0 5px;
		font-size: 11px;
	}
	.ico-tiles p {
		display:none
	}
	.img2nd{
		position: absolute;
		right: 26%;
		top: 6%;
	}
	.img1st img{
		height: 317px!important;
		margin-top: 54px!important;
	} 
	.img2nd img{
		height: 317px!important;
		margin-top: 54px!important;
	}
}
@media (min-width:1024px) and (max-width: 1200px){
	.other-section-10 .tab-widget li>a {
		width: 90px;
		height: 90px;
		color: #fff;
		font-size: 40px;
		border-radius: 80px;
		background-color: rgba(255, 255, 255, 0.34);
	}
	.other-section-10.elearning .tab-widget li>a {
		width: 90px;
		height: 90px;
		color: #fff;
		font-size: 40px;
		border-radius: 80px;
		background-color: rgba(255, 255, 255, 0.34);
	}
	.feature li {
		margin: 0 5px;
		font-size: 13px;
	}
	.other-section-10.elearning .feature li {
		margin: 0 5px;
		font-size: 10px;
	}
	.ico-tiles p {
		display:none
	}
	.img1st img, .img2nd img {
		height: 317px!important;
		margin-top: 54px!important;
	}
	.other-section-10.elearning .tab-pd li {
    padding: 10px;
}
}
@media screen and (max-width: 480px){
	.feature, .other-section-10 .tab-widget li {
		display: block!important;
	}
	ul.tab-widget.icon-tab.tab-pd .fa {
		color: #fff;
	}
	i.fa.fa-arrow-right.fa-lg{transform: rotate(90deg);}
	h3.fs16.bold-2.mr-t-10 {margin-bottom: 0;}
}