
/*****************************************************
        regulare
*****************************************************/
.padd-0{padding:0px}
.navbar-fixed-top {
    /*border-bottom: 1px solid #000;*/
    background: #fff;
}
.navbar-ex {
    border: 0px;
    background-color: #FFF;
    margin-bottom: 0px;
}
.navbar-toggle {
    margin-top: 15px;
    margin-right: 25px;
}

.navbar-brand {
    width: 100%;
    height: auto;
}

.navbar-brand>img {
    margin: 0 0 0 -7px;
    width: 300px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e700;
}
.menu-center{float:right; margin-top: 15px;}
.menu-center .nav>li>a {
    padding:10px !important;
    font-size: 16px;
	margin-top: 5px;
}
.menu-center .nav>li:last-child>a{padding-right: 0!important;}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #000;
    font-size: 16px;
}
.btn-group-ico .btn-group{margin-right: 0!important;margin-left: 2px!important;}
.btn-group-ico .btn-group{background:#fff; border-radius: 5px; width: 31px; height: 29px;}
.dropdown-menu.columns-3 {
    min-width: 635px;
}

.multi-column-dropdown {
    list-style: none;
    padding-left: 10px!Important;
}

.multi-column-dropdown h5 {
    padding: 5px 15px;
    font-weight: bold;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.228571429;
    color: #606060;
    white-space: normal;
    font-weight: bold;
    font-family: 'HelveticaNeueLTStd-Lt';
}

.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

.multi-column-dropdown li a {
    text-transform: capitalize;
    font-weight: normal;
}

.dropdown-menu {
    min-width: 185px;
}

.menu-right-icon {
    float: right;
    width: auto;
    position: relative;
    right: 0;
    display: inline-flex;
    display: -webkit-inline-box;
    top: 0px;
	z-index:99;
}
.navbar-brand {
    padding:15px;
}
.navbar-form {
    float: left;
    margin-top: 0;
    width: 50%;
    margin: 0;
    padding: 0;
    height: auto;
	z-index: 1;
}

.navbar-form .form-group {
    width: 100%;
}

.navbar-form .form-control {
    display: inline-block;
    vertical-align: middle;
    /*color: #fff;*/
    border: 1px solid;
    height: 30px;
    position: relative;
	border-radius: 5px;
}
.form-control-ser {
    width: 100%!important;
    padding-right: 35px;
    border-radius: 0px;
    background-color: #fff0;
    box-shadow: inset 0 0 0px 1px #fff0;
}
.navbar-form .btn-link {
    font-weight: 400;
    /*color: #fff;*/
    border-radius: 0;
}
.navbar-form .btn {
    padding: 0px 12px;
}
.ser-icon {
    margin-left: -40px;
    padding-right: 10px;
}
.btn-group-ico {
    margin-left: 20px;
	position: absolute;
    right: 0;
}
.btn-group-ico a img {
    margin: 5px;
	width:21px;	
}
.form-control:focus {
    border-color: #ff8a43;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ff8a43bf;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
 
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee0;
    border-color: #337ab7;
}
.scrolled li a {
    color: #777;
}
/*****************************************************
        media screen min-width 1200
*****************************************************/
@media (min-width: 1200px){
    .navbar-form {
        position: relative;
    }
    .navbar-form .btn-link {
        font-weight: 400;
        border-radius: 0;
        position: absolute;
        right: 0px;
        top: 5px;
    }
}


/*****************************************************
        media screen max-width 1200
*****************************************************/


@media (max-width: 1200px){
	.form-control-ser {
		width: 95%!important;
	}
	.ipad-menu.ipro-menu{
		/*float: left;
		width: 100%;*/
	}
	.navbar-nav-ex {
		padding: 9px 0px 0!important;
	}
	.navbar-brand {
		padding: 18px 15px;
	}
	.menu-right-icon {
		top: 0;
		position: relative;
	}
	.menu-center {
		float: right;
		margin-top: 10px;
		width: 70%;
	}
	.menu-center .nav>li>a {
		padding: 10px 10px !important;
	}
}
/*****************************************************
        media screen max-width 1024
*****************************************************/

@media (max-width: 1023px){
	.menu-right-icon {
		top: 0px;
		position: relative;
	}
	.navbar-header {
		float: left;
		width: 24%;
	}
	.navbar-brand {
		padding:22px 15px;
	}
	.navbar-nav-ex {
		padding: 0 !important;
	}
	.menu-center {
		width: 76%;
	}
}

/*****************************************************
        media screen max-width 1024
*****************************************************/

@media (max-width: 1024px){
	.btn-group {
		margin: 0;
	}
	.dropdown-menu.columns-3 {
		min-width: 570px;
	}
}

/*****************************************************
        media screen min-width 768
*****************************************************/
@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .navbar-form {
        float: left;
        margin-top: 0;
        width: 70%!important;
        margin-right: 30px;
        padding: 0;
        height: auto;
    }
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

/*****************************************************
        media screen min-width 1024
*****************************************************/
@media (min-width: 1024px){
    .navbar-header {
        float: left;
        width: 24%;
    }

    .menu-center>ul {
        display: inline-block;
    }

    .navbar-nav-ex {
        padding:0px;
        margin-left: 2%;
    }

}


/*****************************************************
        media screen min-width 480
*****************************************************/
@media (max-width: 480px){
	.navbar-default .navbar-collapse{
		width: 96%;
	}
	.navbar-header {
		float: left;
		width: 100%;
	}
	.navbar-brand {
		width: 75%;
		height: auto;
		padding: 2px 15px;
	}
	.menu-center {
		width: 100%;
	}
	.menu-right-icon {
		top: 60px;
		right: 0;
		left: 0;
		position: fixed;
		padding: 5px 0;
		width: 100%;
		margin: 0 auto;
		float: left;
		background: #fff;
	}
	form.navbar-form.menu-ico-mar {
		width: 73%;
		margin-left: 15px;
	}
	.ser-icon {
		right: 6px;
		bottom: -4px;
		padding-right: 10px;
		position: relative;
		z-index: 999999999;
		float: right;
	}
	.ipad-menu.ipro-menu{
		margin-top:0px;
	}
	.navbar-nav-ex {
		margin-top: 40px;
		margin-left: 0;
		width: 100%;
	    float: left;
	}
	.btn-group-ico {
		margin-left: 0px;
		float: right;
		margin-right: 21px;
	}
	
	.navbar-brand>img {
		margin: 0;
		width: 300px;
	}
}

/****End Header****/


/**** Footer****/
.t-footer-bars{
    padding: 60px 0 23px;
    background-color: #445268!important;
    color: #fff;
    float: left;
    width: 100%;
}
.footer-col{
    float: left;
    width:20%;
    margin: 0 0 20px 0;
}
.footer-col h4 {
    color: #fff;
    font-size: 18px;
    line-height: 14px;
    padding: 10px 0;
    margin-bottom: 5px;
    font-weight: 400;
}
.t-footer-bars span{    
    vertical-align: middle;
    padding-top: 5px;
    padding-right: 10px;
    letter-spacing: 1px;
}
.t-footer-bars a img{    
    height: 30px;
    width: auto;
    margin-right: 10px;
}
.t-footer-bars a:hover img {
  opacity: 0.7;
}
.footer-col a {
    padding: 5px 0;
    line-height: 12px;
    margin: 0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}
.footer-col a:hover { text-decoration: underline;}
.t-footer-bars hr{border-top:1px solid #313D52; margin:0}
.app a{
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    height: 30px;
    margin-right: 7px;
}
.t-footer-bars .soc-media i.fa, .t-footer-bars .soc-media_footer i.fa {
    font-size: 19px;
    margin: 0 5px;
    cursor: pointer;
}
.t-footer-bars .soc-media i.fa:hover, .t-footer-bars .soc-media_footer i.fa:hover {color:#CCC!important;}
.t-footer-bars p {
    margin: 0 auto 6px!important;
    padding: 0 16px;
    margin-bottom: 17px!important;
    vertical-align: baseline;
    color:#fff;
    text-align:center;
    letter-spacing: 1px;
}
.t-footer-bars p a{color:#fff; font-size:12px;}

.t-footer-bars .footer-search-text {
    width: 300px;
    margin-top: -3px;
    font-size: 16px;
    background: #313D51;
    border: 1px solid #C4C6CF;
    color: #fff;
    height: 40px;
    padding: 10px;
    letter-spacing: 1px;
}
.t-footer-bars .footer-search-text:focus {
    border: 1px solid #fff;
}
.t-footer-bars input[type=submit]{
    border-radius: 3px;
    margin-left: 4px;
    background: 0 0;
    font-size: 16px;
    color: #fff;
    -webkit-appearance: button;
    cursor: pointer;
    border: 1px solid #C6CAD1;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    vertical-align: baseline;
    font-style: normal;
    font-family: inherit;
    overflow: visible;
    letter-spacing: 1px;
}
.t-footer-bars :focus {
    outline: 0;
}
@media screen and (max-width:480px){
  .footer-col{float: left; width:100%; margin: 0px 7% 10px;}
  .mob-center{text-align:center;margin-bottom:10px;}
  .tips{margin-top:10px}
}
@media screen and (max-width:1023px){
  .mob-center-form .footer-search-text{width: 60%;}
  .mob-center-form input[type=submit]{width: 30%; padding: 0;}
  }

.soc-media {position: absolute; bottom: 0; right: 0; padding: 20px;}
.soc-media_footer i:hover.fa{color:#fff!important;}
.soc-media i.fa, .soc-media_footer i.fa{font-size: 30px; margin: 0 10px; cursor:pointer;}
.soc-media i.fa.fa-facebook, .soc-media_footer i.fa.fa-facebook {color: #3b5998;}
.soc-media i.fa.fa-twitter, .soc-media_footer i.fa.fa-twitter {color: #00aced;}
.soc-media i.fa.fa-linkedin, .soc-media_footer i.fa.fa-linkedin {color: #007bb6;}
.soc-media i.fa.fa-youtube, .soc-media_footer i.fa.fa-youtube {color: #dd4b39;}
.soc-media i.fa.fa-rss, .soc-media_footer i.fa.fa-rss {color: #ff6501;} 
  

/****End Footer****/
