body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}


.no-margin {
    margin: 0;
}

header .dropdown-menu>a {

    padding: 12px 20px;
}

b {
    font-weight: 600;
}

.w-auto {
    width: auto !important;
}

.min-w-auto {
    min-width: auto !important;
}

.min-w-110 {
    min-width: 110px !important;
}

.height-550 {
    /* height: calc(78vh - 80px) !important; */
    height: 75vh !important;
}

header .navbar-default .navbar-toggle {
    border-color: transparent;
    background: transparent;
    font-size: 28px;
    float: right;
    left: 0;
    padding: 12px;
    display: none;
}

header .navbar-toggle {
    padding: 24px 10px;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

/* Common Style start */
.btn-green {
    width: 30px;
    height: 30px;
    float: left;
    background: #69cb61;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: default;
    outline: none !important;
    margin-right: 10px;
}

.submit-btn,
.back-btn {
    background: #69cb61;
    box-shadow: none;
    color: #fff;
    min-width: 165px;
    font-weight: 600;
    border-radius: 0;
    padding: 13px 15px;
    font-size: 15px;
    transition: all ease .4s;
    outline: none;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus,
.back-btn:hover,
.back-btn:active,
.back-btn:focus {
    outline: none;
    box-shadow: none;
}

.back-btn {
    background: #808f96;
}

.back-btn:hover,
.back-btn:active,
.back-btn:focus {
    border-color: #808f96;
    color: #fff;
    background: #808f96;
    outline: none;
    transition: all ease .4s;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
    border-color: #35a02d;
    color: #fff;
    background: #35a02d;
    outline: none;
    transition: all ease .4s;
}

.input-control,
.form-control {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    padding: 7px 15px;
    border-radius: 0;
    outline: none;
}

.form-group {
    width: 100%;
    float: left;
}

textarea {
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    padding: 7px 15px;
    outline: none;
    flex: 1;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}


.justify-spacebetween {
    display: flex;
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.full-width {
    width: 100%;
    float: left;
}

input[type=file] {
    display: block !important;
    right: 1px;
    top: 1px;
    height: 50px;
    opacity: 0;
    background: none;
    overflow: hidden;
    z-index: 4;
    position: absolute;
    left: 0;
    width: 150px;
    cursor: pointer;
}

.form-set-content .control-fileupload label {
    width: auto;
}

.file-browser {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.form-set-content .form-group label {
    margin-bottom: 10px;
}

.control-fileupload {
    display: flex;
    align-items: center;
    border: none;
    background: #FFF;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: relative;
    /* File upload button */
}

.control-fileupload:before {
    content: 'Upload File';
    float: left;
    background: #69cb61;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
    padding: 15px 35px;
    font-size: 15px;
    transition: all ease .4s;
    outline: none;
    z-index: 1;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.control-fileupload label {
    line-height: 28px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-left: 25px;
    cursor: text;
}

.submit-btn-container {
    width: 100%;
    float: left;
    text-align: center;
    padding: 35px 0;
    white-space: nowrap;
}

.submit-btn-container button {
    margin: 10px 10px;
}

.mt-20 {
    margin-top: 20px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.btn-transparent {
    background: transparent;
    color: #6c757d;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    padding: 10px 0;
}

.font-20 {
    font-size: 20px !important;
}

/* Radio & Check Style Start */
.radio,
.checkbox {
    /* padding-left: 15px; */
    padding-left: 30px;
    margin: 0;
    position: relative;
}

.radio label,
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before,
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: -5px;
    margin-left: -20px;
    border-radius: 0;
    background-color: #fff;
    transition: border 0.15s ease-in-out;
    top: 5px;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}


.radio input[type="radio"]:checked+label::before,
.checkbox input[type="checkbox"]:checked+label::before {
    transition: border 0.15s ease-in-out;
    background-color: #6acb62;
}


.radio input[type="radio"]:disabled+label::before,
.checkbox input[type="checkbox"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline,
.checkbox.checkbox-inline {
    margin-top: 0;
}

.form-card-container .custom-radio-check {
    width: 100%;
    float: left;
    margin: 10px 0;
    font-size: 18px;
}

/* Radio & Check Style End */
.form-set-content table tbody tr {
    line-height: 40px
}

.form-set-content .form-control {
    border-radius: 0px;
}

/* Select box style start */
.select {
    width: 100%;
    float: left;
    position: relative;
    /* border-bottom: 2px solid #fff; */
    padding-right: 45px;
}

.select:after {
    content: "\f35f";
    font-family: "Ionicons";
    right: 20px;
    bottom: 0;
    position: absolute;
}

.select .select-styled {
    min-height: 48px;
    font-weight: 600;
    width: 100%;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 240px;
}

.select-options li:first-child {
    display: none;
}

.select-options {
    display: none;
    position: absolute;
    top: 104%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.48);
    /* max-height: 180px;
    overflow-y: auto; */
}

.select-options li {
    margin: 0;
    padding: 0px 0;
    border-top: none;
    text-indent: 6px;
    border-top: none;
    font-size: 20px;
    cursor: pointer;
    transition: all ease .3s;
    line-height: 28px;
    padding: 10px 0;
}

.select-options li:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transition: all ease .3s;
}

.select-options li[rel="hide"] {
    display: none;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

/* Common Style end */
/* Header Style start */
.wrapper {
    width: 100%;
    float: left;
}

header {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
    border: none;
    margin-bottom: 0;
}

header .navbar-default .container-fluid {
    display: flex;
    align-items: center;
}

.navbar-default .navbar-nav>li>a {
    float: left;
    padding: 24px 15px !important;
    color: #000000;
    font-size: 17px;
}

.navbar-brand {
    height: 80px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.header-profile {
    color: #808f96;
    font-size: 28px;
    float: left;
    line-height: 24px;
}

.header-Msearch-close {
    display: none;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0, -50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
    z-index: 9999;
}

.headerbar-search {
    position: relative;
    float: left;
    flex: 2;
    padding-left: 25px;
    width: 100%;
    /* margin-top: 20px; */
    margin-right: 25px;
}

.headerbar-search input {
    width: 100%;
    float: left;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    padding: 7px 15px;
    padding-right: 30px;
}

.headerbar-search .header-search-icon {
    position: absolute;
    top: 8px;
    right: 9px;
    font-size: 18px;
    color: #808f96;
}

.MobileSearch {
    display: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #000;
    background-color: transparent;
}

.dropdown-menu>a {
    padding: 7px 15px;
    font-weight: 300;
    color: #000;
    white-space: nowrap;
    font-size: 15px;
}

.HeaderUserProfile {
    float: left;
    padding: 25px 15px;
    padding-right: 0;
    /* margin-left: 10px; */

}

.mobile-brand-logo {
    display: none;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.dropdown-toggle::after {
    color: #000;
}

header .navbar-brand {
    height: 80px;
    padding: 15px 15px;
    margin-left: -15px;
}

.MobileMenuRight .dropdown-toggle::after {
    display: none;
}

header .nav-link {
    display: block;
    padding: 0;
    float: left;
}

header .nav-link:hover,
header .nav-link:active,
header .nav-link:focus {
    outline: none;
    border: none;
}

/* Header Style end */
/* Footer style start */
.footer-top-container {
    width: 100%;
    float: left;
    padding: 70px 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f7f7f7', GradientType=0);
}

.footer-menu-container {
    width: 100%;
    float: left;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.footer-menu-container li {
    width: 100%;
    float: left;
}

.footer-menu-container li:first-child a {
    font-weight: 600;
    font-size: 16px;
}

.footer-menu-container li a {
    width: 100%;
    float: left;
    color: #000;
    font-size: 15px;
    padding: 6px 0;
    text-decoration: none;
}

.footer-news-letter-container {
    width: 100%;
    float: left;
}

.footer-news-letter-title {
    width: 100%;
    float: left;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 0;
}

.footer-news-letter-content {
    width: 100%;
    float: left;
    color: #000;
    font-size: 15px;
    padding: 6px 0;
}

.footer-news-letter-form {
    width: 100%;
    float: left;
    padding: 6px 0;
}

.footer-news-letter-form .submit-btn {
    font-weight: 300;
}

.footer-news-letter-form input {
    width: 100%;
    float: left;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    padding: 7px 15px;
    border-radius: 0;
    margin-bottom: 15px;
}

.footer-bottom-container {
    width: 100%;
    float: left;
    background: #808e95;
}

.footer-bottom-social-set-container {
    width: 100%;
    float: left;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
}

.footer-bottom-social-set {
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.footer-bottom-social-set img {
    width: auto;
    height: 40px;
}

.footer-bottom-social-set a {
    color: #fff;
}

.footer-bottom-social-set i {
    font-size: 20px;
}

.social-set-info {
    padding: 0 15px;
}

.footer-bottom-container hr {
    width: 100%;
    float: left;
    border-color: #fff;
    margin: 0;
}

.copyrights-container {
    width: 100%;
    float: left;
    padding: 20px 0;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

/* Footer style end */

/* Body Container style Start */
.page-container {
    width: 100%;
    float: left;
    padding: 30px 0;
    padding-top: 50px;
}

.page-title-container {
    width: 100%;
    float: left;
}

.page-title-container .page-heading {
    width: 100%;
    float: left;
    color: #000;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.Time-study-form-container {
    width: 100%;
    float: left;
    position: relative;
}

.form-progress-bar {
    width: 100%;
    float: left;
    height: 8px;
    background-color: #b0bfc6;
    margin: 25px 0;
}

.form-progress-bar .progress-bar {
    line-height: 8px;
    background-color: #6acb62;
    box-shadow: none;
}

.form-container {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.form-card-container {
    width: 100%;
    float: left;
    margin: 15px 0;
    padding: 40px 40px;
    box-shadow: 0px 0px 5px rgba(128, 142, 149, 0.75);
    position: relative;
    /* min-height: 92%; */
}

.form-card-container .form-set-content:last-child {
    padding-bottom: 0;
}

.form-card-container .form-set-content:last-child .form-group {
    margin-bottom: 0;
}

.form-card-container .form-set-content:last-child .col-12 .form-group {
    margin-bottom: 15px;
}

.form-card-container .remove-Time-study-form {
    display: none;
}

.part-of-information-card-container .form-card-container .remove-Time-study-form {
    display: block;
}

.part-of-information-card-container .form-card-container {
    /* margin: 35px 0; */
    margin: 15px 0;
}

.part-of-information-card-container .form-card-container:last-child {
    margin-bottom: 15px;
}

.form-card-container .form-set-content:last-child .radio:last-child {
    margin-bottom: 0;
}

.remove-Time-study-form {
    position: absolute;
    bottom: -35px;
    right: 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    cursor: pointer;
    z-index: 2;
}

.Time-study-form-container .remove-Time-study-form {
    display: none;
}

.part-of-information-card-container .Time-study-form-container:last-child .remove-Time-study-form {
    display: block;
}

.remove-Time-study-form i {
    color: #808f96;
    font-size: 20px;
    margin-right: 10px;
}

.form-card-container .page-heading {
    text-align: left;
}

.form-set-content {
    width: 100%;
    float: left;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 300;
}

.form-set-content label {
    float: left;
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
    margin-bottom: 0px;
}

.form-select-box {
    background: #fff;
    border: none;
    border-bottom: 1px solid #818e96;
    padding: 0px 0;
    font-weight: 600;
    color: #000;
    outline: none !important;
}

.add-new-part {
    /* width: 100%; */
    float: left;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
}

.add-new-part i {
    color: #808f96;
    font-size: 20px;
    margin-right: 10px;
}

.radio-FinTech {
    width: 100%;
    float: left;
    margin: 12px 0;
}

.assurance-service .checkbox {
    float: left;
    width: 100%;
    margin: 5px 0;
}

.assurance-service {
    min-height: 336px;
}

.quote-timeline .form-set-content {
    margin-right: 30px;
}

.quote-timeline .form-set-content {
    width: auto;
}

.quote-timeline .form-set-content label {
    margin-bottom: 0;
}

.quote-timeline .delevery-width,
.quote-timeline .quantity-width,
.quote-timeline .invite-width {
    width: 100%;
}

.quote-timeline-title {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    /* margin-right: 30px; */
    line-height: 30px;
    white-space: nowrap;
}

.form-card-container.quote-timeline .form-set-content:last-child {
    padding-bottom: 15px;
}

.cart-total .form-card-container ul li {
    padding: 6px 0px;
}

/* .quote-timeline .flex.align-items-center {
    flex-wrap: wrap;
} */

/* Body Container style End */

/* Cart Page Style Start */
.cart-list-container {
    width: 100%;
    float: left;
    margin: 15px 0;
    padding: 15px 15px;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
}

.cart-total {
    width: 100%;
    float: left;
}

.cart-product-box-left {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.cart-product-img {
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    margin-right: 20px;
}

.cart-product-name-content {
    width: 300px;
    float: left;
}

.cart-product-name {
    width: 100%;
    float: left;
    padding: 2px 0;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.cart-product-modal {
    width: 100%;
    float: left;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.cart-product-box-right {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cart-product-list-set {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.cart-product-list-title {
    width: 100%;
    float: left;
    padding: 2px 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

.cart-product-list-price {
    width: 100%;
    float: left;
    padding: 2px 0;
    font-size: 18px;
    font-weight: 800;
    color: #000;
}

.form-card-container ul {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.form-card-container ul li {
    list-style: none;
}

/* Cart Page Style End */
.Payment-signin-form-content {
    width: 100%;
    float: left;
    margin-top: 20px;
}

/* Home Page Style Start */
/* Banner Style Start */
.home-page-container {
    width: 100%;
    float: left;
    height: calc(100vh - 80px);
    display: flex;
    -ms-align-items: center;
    align-items: center;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    margin-bottom: 15px;
}

.home-page-container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.banner-content-text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fff;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

/* Banner Style End */
/* Home Body container start */
.home-page-body-container {
    width: 100%;
    float: left;
}

.home-page-body-container .row [class*="col-"] {
    display: grid;
}

.col-grid.row [class*="col-"] {
    display: grid;
}

.col-grid.row [class*="col-"] .form-card-container {
    height: auto;
}

.col-grid.row [class*="col-"] .form-card-container [class*="col-"] {
    display: block;
}

.home-page-body-container .additive-card .row [class*="col-"] {
    display: block;
}

.mh-auto {
    min-height: auto !important;
}

.home-inner-block-set {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.home-inner-block-set .card-title {
    width: 100%;
    float: left;
    color: #000;
    padding: 15px 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.home-card-set {
    width: 100%;
    float: left;
    /* min-height: auto; */
    background: #fff;
    padding: 40px 40px;
    margin: 15px 0;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    position: relative;
    /* height: 94%; */
}

.home-card-set .card-title {
    padding-top: 0px;
}

.home-card-set p {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 17px;
}

.support-now-card-container {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    position: relative;
    min-height: 350px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.support-now-card-right-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.support-now-card-right-img:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(128, 142, 149, 0.75);
}

.support-now-card-left-content {
    width: 100%;
    float: left;
    font-size: 35px;
    line-height: 55px;
}

.support-now-card-right-content {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    padding-left: 60px;
}

.bg-gradient {
    padding-bottom: 30px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f7f7f7', GradientType=0);
}

.min-height-auto {
    min-height: auto;
}

.frq-ask-question .home-card-set {
    min-height: 130px;
    height: auto;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.frq-ask-question .home-card-set p {
    margin-bottom: 0;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-42 {
    margin-bottom: 42px;
}

.select-icon-input {
    position: relative;
}

/* .select-icon-input:after {
    content: "\f35f";
    font-family: "Ionicons";
    right: 8px;
    bottom: 0;
    position: absolute;
} */

.m-select {
    background: transparent;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none !important;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    /* margin-left: 15px; */
    position: relative;
    min-width: 350px;
    border-radius: 0px;
    padding-right: 30px;
}

.m-select option {
    color: #000;
    font-size: 22px;
}

.card-min-height {
    min-height: 237px !important;
}

.additive-card {
    width: 100%;
    float: left;
    /* min-height: 160px; */
    background: #fff;
    padding: 20px 30px;
    margin: 15px 0;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    position: relative;
}

.additive-card .card-title {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
    padding: 0px;
    margin-bottom: 0;
}

.additive-card .card-sub-title {
    width: 100%;
    float: left;
    font-size: 20px;
    margin: 0;
}

.additive-card .btn-icon {
    background: transparent;
    outline: none !important;
    box-shadow: none;
    padding-left: 0px;
    margin-right: 15px;
}

.height-auto {
    height: auto;
}

.home-card-terms-text {
    width: 100%;
    float: left;
    font-size: 13px;
    margin: 15px;
}

.home-page-body-container .home-card-set p {
    margin-bottom: 15px;
}

.home-page-body-container .home-card-set p:last-child {
    margin-bottom: 0;
}

.why-choose-teranex-blocks {
    display: none;
}

/* Home Body container end */
/* Home Page Style End */
/* Image Card Style Start */
.image-card-12 {
    width: 100%;
    float: left;
    background: #fff;
    margin: 15px 0;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
    position: relative;
}

.image-card-12 .card-left {
    width: 100%;
    float: left;
    padding: 30px;
}

.card-master-title {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
    padding: 0px;
    margin-bottom: 15px;
}

.image-card-12 .card-left .card-title {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
    padding: 0px;
    margin-bottom: 15px;
}

.image-card-12 .card-left .card-text {
    width: 100%;
    float: left;
    font-size: 20px;
    margin: 0;
}

.image-card-12 .card-right-img {
    width: 100%;
    height: 444px;
    float: left;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.card-height-340 {
    height: 340px !important;
}

.display-block {
    display: block;
}

.item {
    padding: 5px;
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 45%;
    margin-top: 0px;
}

.owl-prev {
    left: -3%;
}

.owl-next {
    right: -3%;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 40px;
    color: #808f96;
    outline: none !important;
    line-height: 0;
    padding: 0 !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #000;
    background: transparent;
}

.master-title-height {
    height: 80px !important;
}

.card-text-height {
    height: 150px !important;
}

.mt-15 {
    margin-top: 15px;
}

/* Media Query Start */
@media only screen and (min-width : 1400px) {
    .container {
        max-width: 1240px;
    }
}

@media only screen and (min-width : 1500px) {
    .container {
        max-width: 1340px;
    }
}

@media only screen and (min-width : 1600px) {
    .container {
        max-width: 1340px;
    }
}

@media only screen and (min-width : 1700px) {
    .container {
        max-width: 1440px;
    }
}

@media only screen and (min-width : 1800px) {
    .container {
        max-width: 1540px;
    }
}

@media only screen and (min-width : 1900px) {
    .container {
        max-width: 1640px;
    }
}

@media only screen and (min-width : 2000px) {
    .container {
        max-width: 1740px;
    }
}

@media (max-width:992px) {
    .quote-timeline .flex.align-items-center {
        flex-wrap: wrap;
    }

    .form-card-container {
        padding: 15px 15px;
    }

    header .navbar-default .navbar-toggle {
        display: block;
    }

    .mobile-margin-top-20 {
        margin-top: 20px;
    }

    .navbar-default .navbar-nav>li>a {
        width: 100%;
        float: left;
    }

    .m-active {
        overflow: hidden;
    }

    .navbar-toggle {
        margin: 0;
    }

    header .navbar-menus {
        position: fixed;
        left: -70%;
        top: 0;
        bottom: 0;
        background: #fff;
        width: 250px;
        padding: 15px;
        margin: 0 !important;
        z-index: 9;
        transition: all ease .5s !important;
        height: 100vh;
    }

    .m-active .navbar-menus {
        left: 0;
        transition: all ease .5s !important;
    }

    .m-active .mobile-menu-overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        z-index: 8;
    }

    .headerbar-search {
        position: fixed;
        left: 0px;
        right: 0px;
        padding: 0;
        z-index: 5;
        top: -75px;
        margin-right: 0;
        transition: all ease .5s;
        margin-top: 0;
    }

    .headerbar-search.active {
        top: 0;
        transition: all ease .5s;
    }

    .headerbar-search .input-control {
        height: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }

    header .navbar-brand {
        height: 70px;
        display: block;
    }

    .navbar-menus .navbar-brand {
        padding: 15px 0px;
        margin-left: 0;
        margin-right: 0;
    }

    .headerbar-search .header-search-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        color: #808f96;
        width: 40px;
        height: 70px;
        background: #ddd;
        line-height: 64px;
        text-align: center;
        cursor: pointer;

    }

    .header-Msearch-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        color: #808f96;
        width: 40px;
        height: 70px;
        background: #ddd;
        line-height: 64px;
        text-align: center;
        cursor: pointer;
    }

    .MobileMenuRight {
        /* width: 100%; */
        float: left;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .MobileMenuRight .MobileSearch {
        display: block;
        font-size: 20px;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }

    .navbar-default .navbar-nav>li {
        width: 100%;
        float: left;
    }

    .navbar-default .navbar-nav>a {
        width: 100%;
        float: left;
    }

    .navbar-nav .dropdown-menu {
        width: 100% !important;
        float: left !important;
    }

    .navbar-nav .dropdown-menu>a {
        padding: 10px 15px;
        font-weight: 300;
        color: #000 !important;
        white-space: nowrap;
        font-size: 15px;
    }

    .navbar-nav .dropdown-menu>a:hover {
        background-color: #ddd;
    }

    .navbar-default .navbar-nav>li {
        margin-bottom: 15px;
    }

    .navbar-default .navbar-nav>li>a {
        padding: 5px 0px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav>li>.dropdown-menu {
        z-index: 9999;
        border: none;
        padding: 0;
        margin: 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>a:hover {
        background-color: rgba(128, 143, 150, 0.3);
    }

    .HeaderUserProfile {
        padding: 23px 15px;
    }

    .form-card-container.flex.justify-spacebetween.align-items-center {
        display: block;
    }

    .submit-btn,
    .back-btn {
        min-width: 120px;
        padding: 5px 15px;
    }

    .form-card-container .submit-btn-container {
        margin-top: 15px;
        text-align: left;
    }

    .form-card-container .submit-btn-container button {
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .form-card-container .page-heading {
        text-align: left;
        font-size: 24px;
        width: auto;
        white-space: nowrap;
    }

    .mobile-margin-top-20 {
        margin-top: 20px;
    }

    .footer-top-container .row.justify-content-center {
        justify-content: flex-start !important;
    }

    .footer-bottom-social-set-container {
        display: block;
    }

    .footer-bottom-social-set-container .footer-bottom-social-set {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .footer-bottom-social-set-container .footer-bottom-social-set:last-child {
        margin-bottom: 0;
    }

    .footer-bottom-social-set a {
        float: left;
    }

    .social-set-info {
        width: 100%;
        float: left;
        margin-bottom: 12px;
    }

    .footer-top-container {
        padding: 15px 0;
    }

    .support-now-card-container .footer-menu-container {
        margin-bottom: 15px;
    }

    .support-now-card-container .support-now-card-left-content {
        font-size: 28px;
        line-height: 40px;
    }

    .support-now-card-right-content {
        font-size: 28px;
        line-height: 40px;
        padding-left: 20px;
    }

    .control-fileupload {
        height: 34px;
    }

    .control-fileupload::before {
        padding: 15px 20px;
    }

    .submit-btn-container {
        white-space: normal;
    }
}

/* Media Query Start */
@media (max-width:767px) {
    .form-group.flex {
        display: block;
    }

    .form-group.flex label {
        width: 100%;
        float: left;
    }

    .form-set-content label {
        width: auto;
        /* width: 100%; */
        float: left;
    }

    .form-set-content .form-control {
        width: 100%;
        float: left;
    }

    .form-group.flex .form-control {
        width: 100%;
        float: left;
    }

    .page-title-container .page-heading {
        font-size: 20px;
    }

    .form-set-content {
        font-size: 14px;
    }

    .form-set-content label {
        font-size: 14px;
    }

    .cart-product-box-right {
        flex-wrap: wrap;
        height: auto;
    }

    .support-now-card-right-img {
        left: 0;
    }

    .support-now-card-container .support-now-card-left-content {
        color: #fff;
    }

    .support-now-card-right-content {
        padding-left: 0;
        margin-top: 20px;
    }

    .footer-menu-container {
        margin-bottom: 15px;
    }

}

@media (max-width:575px) {
    .page-title-container .page-heading {
        font-size: 16px;
    }

    .assurance-service {
        min-height: auto;
    }

    .form-container {
        padding-top: 10px;
    }

    .form-progress-bar {
        margin: 10px 0;
    }

    .page-container {
        padding: 25px 0;
        padding-top: 25px;
    }

    .footer-menu-container li:first-child a {
        font-size: 14px;
    }

    .footer-menu-container li a {
        font-size: 13px;
        padding: 4px 0;
    }

    .footer-news-letter-title {
        font-size: 14px;
    }

    .footer-news-letter-content {
        font-size: 13px;
    }

    .copyrights-container {
        padding: 15px 0;
        font-size: 14px;
    }

    .footer-bottom-social-set {
        font-size: 14px;
    }

    .additive-card .btn-icon {
        margin-right: 0px;
    }

    .additive-card .btn-icon img {
        width: 40px;
    }

    .additive-card .text-right {
        text-align: left !important;
    }

    .quote-timeline-title {
        font-size: 16px;
    }
}

/* Media Query End */

/* Additional page style start */
.font-14 {
    font-size: 14px;
}

.machine-rent-added-set {
    width: 100%;
    float: left;
    padding: 12px 0;
    /* padding-left: 40px; */
    position: relative;
    display: flex;
    justify-content: space-between;
}

.machine-rent-added-set .form-set-content {
    width: auto;
    padding: 0;
}

.machine-rent-added-set .btn-green {
    position: absolute;
    left: 0;
    cursor: pointer;
}
.cloud-machine-image-card-img-container {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.img-medium {
    height: 230px;
}
.img-larg {
    height: 270px;
}
.pr-55 {
    padding-right: 55px;
}
.pl-55 {
    padding-left: 55px;
}
.remove-machine-rent {
    display: none;
    position: absolute;
    bottom: -35px;
    right: 0;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    cursor: pointer;
    z-index: 2;
}

.remove-machine-rent i {
    color: #e25966;
    font-size: 16px;
    margin-right: 3px;
}
.add-new-machine-btn {
    float: left;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
}
.add-new-machine-btn i {
    color: #69cb61;
    font-size: 16px;
    margin-right: 5px;
}
.banner-button {
    margin-top: 20px;
}

.banner-button .submit-btn {
    padding: 13px 25px;
    border-radius: 50px;
}

.cloud-machine-image-card-container {
    width: 100%;
    float: left;
}
.get-an-instant-quote-page.sticky .get-an-instant-quote-batch {
    position: fixed;
    top: -10px;
    z-index: 9;
    padding: 0;
    background: #fff;
    padding-bottom: 5px;
    transition: all ease .4s;
}
.get-an-instant-quote-page.sticky {
    margin-top: 150px;
}

.cloud-machine-image-card {
    width: 100%;
    float: left;
    margin: 15px 0;
    box-shadow: 0px 0px 6px rgba(128, 142, 149, 0.75);
}
.machine-added-set .machine-rent-added-set:last-child .remove-machine-rent,
.infrastructure-added-set .machine-rent-added-set:last-child .remove-machine-rent,
.services-added-set .machine-rent-added-set:last-child .remove-machine-rent {
    display: block;
}
.cloud-machine-image-card-content{
    width: 100%;
    float: left;
    padding: 40px;
}
.cloud-machine-image-card-content .card-title {
    padding-top: 0;
}
.smart-job-card-list {
    width: 100%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.smart-job-card-list li {
    width: 100%;
    float: left;
    padding: 10px 0;
}
.smart-job-card-list li:first-child {
    padding-top: 0;
}
.smart-job-card-list li:last-child {
    padding-bottom: 0;
}
.insurance-details-set .form-set-content{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
.insurance-details-set.form-card-container .form-set-content:last-child {
    padding-bottom: 15px;
}
.insurance-details-set label {
    margin-right: 20px;
    margin-bottom: 10px;
}
.date-form-control .form-control {
    padding: 5px 5px;
}
.important-file:before {
    content: 'Upload Important Files';
}
/* Additional page style end */