@font-face {
	font-family: 'AvenirNextLTPro-Regular';
	
	src:url('fonts/AvenirNextLTPro-Regular.otf') format('truetype');
	
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	
	src:url('fonts/HelveticaNeueLTStd-Lt.otf') format('truetype');
	
}
body{cursor: context-menu;}
p {letter-spacing: 1px;}
hr{float: left; width: 100%;}
.mar-btm30{margin-bottom:30px}
.form-control-ser{border-radius:0px; padding-right:40px; border-bottom:0px; border-top:0px; background-color:#FFF; box-shadow:inset 0 0 0px 5px #fff;}
.navbar-nav2-ex{ padding-top:20px; padding-left:10px;}
.navbar-nav2-ex li a{ padding:5px;}
.menu-border{border-bottom: 2px solid #546e7a;}
.section-pad{ padding:40px 0px;}
h1{font-family: 'Ciutadella'; color:#005e82; font-size:36px; line-height:62px;}
.box-cont{ border:1px solid #CCC; padding:0px 20px 20px 20px; height:200px;}
h3{font-family: 'Ciutadella'; color:#005e82; font-size:20px; line-height:28px;}

.lern a{color: #a5c049; font-weight:bold; text-decoration:none; font-size:13px;}
.lern a:hover{color: #333; font-weight:bold; text-decoration:none;}
span.lern.btn.addmore-btn a{color: #fff;}
span.lern.btn.addmore-btn:hover a{color: #a5c049;}

.ar-set { padding-top:40px; margin-left:-10px; text-align:right; color:#666;   }
.ar-set2 { padding-top:40px;  margin-right:0px; float:right;  color:#666;       }

.ar-set a{  color:#666; font-size:18px; border:1px solid #CCC; padding:10px;}
.ar-set a:hover{  color: #F00;}
.ar-set2 a{ color:#666;  font-size:18px; border:1px solid #CCC;  padding:10px; }
.ar-set2 a:hover{  color: #F00;}

.footer-bars{ background-color:#376092; padding:20px 0px;}

.footer-bars h4{ color:#FFF; font-size:18px; line-height:26px; }
.link a{ color:#FFF; font-size:14px; display:block; text-decoration:none; line-height:24px; }
.link a:hover{ color:#CCC;}
.links{ color:#FFF;}
.links a{ color:#FFF; font-size:14px;  text-decoration:none; line-height:24px; padding:0px 5px; }
.links a:hover{ color:#CCC;}

.newsl{ border-radius:0px; height:40px;}
.newsl-btn{ border-radius:0px; height:40px; background-color:#a5c049; color:#FFF; margin-left:-5px;}

	.dropdown-menu.columns-2 {
		min-width: 500px;
	}
.multi-column-submenu {display: none; list-style:none; padding-left:15px;}
.multi-column-submenu li a:hover{background:none; color:#005e82; font-weight:normal;}
.multi-column-submenu {overflow: hidden; -webkit-transition: all 0.5s ease-out;}
.multi-column-submenu li a{font-weight:normal; font-size: 13px;}

	.iner-head{ background-color: #E4E4E4;}
	.iner-head h1{ padding:10px; margin:10px; line-height:26px;}
	.input-form{ border-radius:0px;}
	.dropdown:hover .dropdown-menu-tootip {display: block;}
	.dropdown-menu-tootip {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu-tootip li a{color:#333; padding: 3px 20px; display:block;}
.dropdown-menu-tootip > li > a:focus, .dropdown-menu-tootip > li > a:hover {
    background-color: #f5f5f5; display:block; padding: 3px 20px; text-decoration:none; 
}
.machine_info .machine input[type=checkbox]{
    margin: 0;
    margin-top: 1px\9;
    line-height: normal;
}
	@media (max-width: 480px) {
		.content {
			width: 90%;
			margin: 50px auto;
			padding: 10px;
		}
		.right-icon{  padding-top:10px; height:45px; text-align:center!important; float:none;}
		.ser-icon{right:0px; bottom:30px; padding-right:10px; position:relative; z-index:999999999; float:right;}
		.navbar-right{ padding-bottom:0px;}
	}
#slide-counter {font-size: 13px!important;}
.padd-t-10 {
    padding-top: 10px!important;
}
.fc-toolbar.fc-header-toolbar .fc-left h2 {
    font-size: 18px;
    font-family: 'HelveticaNeueLTStd-Lt';
    color: #337ab7;
}
img.img-responsive.center {
    margin: 0 auto;
}
.expert-row .row .nbs-flexisel-nav-left, 
.expert-row .row .nbs-flexisel-nav-right{display:none}
.expert-row .nbs-flexisel-inner:hover .nbs-flexisel-nav-left, 
.expert-row .nbs-flexisel-inner:hover .nbs-flexisel-nav-right{display:block}
.expert-row .row .nbs-flexisel-nav-left{left: 10px!important;}
.expert-row .row{
	margin-right: -8px;
    margin-left: -8px;
}
.xpert .amit-border{
    box-shadow: 0 0px 10px rgba(19,19,19,.24);
}
/*.amit-border:hover button{
    box-shadow: 0 0px 10px rgba(19,19,19,.24);
}*/
.xpert .amit-border:hover {
    box-shadow: none;
}
#calendar .fc-view, .fc-view>table {
    box-shadow: none!important;
}
.event_list .media-list hr{
    margin-bottom: 23px!important;
}
.bnr-images{
	margin:0 auto;    
    width: 100%;
}
.addcomment, .give-comment, .addcomment:hover, .give-comment:hover {
    background: #69cb61!important;
    color: #fff!important;
}
.coment_action i.fa {
    font-size: 20px;
    color: #a5c049!important;
}
.cmt_member{width:100%!important;}
.topic-sec i.fa.fa-edit {
    color: #a5c049!important;
}
.page-1st-heading{margin-top: 13px;}

.helpcenter-heading p{
    color: #fff !important;
}
.helpcenter-heading{
	background-color: #1e282c !important;
}
	
.bnr {
	position: relative;
}
.bnr-overlay {
    background: #428bca1f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.helpcenter_info .tab-pane.fade>p {
    padding-left: 10px;
}

.padd_5 {
    padding: 5px 10px;
    margin-top: 0;
}
.stc{    
	position: absolute;
    right: 0;
    top: 15px;
    min-width: 203px;}
	span.pull-left.full-width h1{
		margin:0px;
	}
.pull-right.stc a {
	width: 100%;
	padding: 6px 15px;
}